* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --main-bg-color: #2a2a40;
    --dark-grey: #6d6875;
    --medium-grey: #dfdfe2;
    --light-grey: #f5f6f7;
    --peach: #f28373;
    --salmon-color: #f0aea9;
    --light-orange: #f8b172;
    --gold: #f9aa23;
    --whait: #f8edeb;
    --light--rose: #f9dcc4;
    --midium-rose: #fcd5ce;
    --dark-rose: #ffb5a7;
    --beije: #fec89a;
  }

  body {
    background-color: #6d6875;
    color: var(--whait);
    font-family: Arial, sans-serif;
  }

  h1 {
    text-align: center;
    margin: 20px 0;
  }

  .wrapper {
    background: var(--dark-rose);
    position: relative;
    margin: 0 auto;
  }

  .container {
    background-color: var(--light--rose);
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 10px;
  }

  .wrapper,
  .container {
    width: 300px;
    height: 600px;
    border-radius: 10px;
  }

  label {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #9e2a2b;
  }

  input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--beije);
    font-size: 1.1rem;
    color: var(--main-bg-color);
  }

  .btn {
    cursor: pointer;
    padding: 10px 10px;
    margin: 10px;
    font-size: 1rem;
    color: var(--main-bg-color);
    background-color: var(--dark-rose);
    background-image: linear-gradient(#ffb5a7, #f28373);
    border-color: var(--beije);
    border-width: 3px;
  }
  
  .btn:hover {
    background-image: linear-gradient(#f0aea9, #f07167);
  }

  .output {
   width: 100%;
   height: 150px;
   padding: 10px;
   background: var(--whait);
   color: var(--main-bg-color);
   margin: 15px auto;
   display: inline-grid;
   grid-template: repeat(5, 1fr) / repeat(4, fr);
   grid-template-areas: "name id . img img ."
    "w h . img img ."
    ". . . img img ."
    ". . . img img ."
    "t t . img img .";
  }

  #pokemon-name {
    grid-area: name;
    font-size: 1.2rem;
    font-weight: bold;
  }

  #pokemon-id {
    grid-area: id;
    font-size: 1.2rem;
    font-weight: bold;
  }

  #weight {
    grid-area: w;
  }

  #height {
    grid-area: h;
  }

  #pokemon-sprite {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }

  #types {
    grid-area: t;
    display: flex;
    gap: 10px;
  }

  .types {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
    background-color: #a2d2ff;
    padding: 5px 10px;
  }

  .pokemon-info {
    width: 100%;
    height: 300px;
    background: var(--dark-rose);
    table-layout: fixed;
    border-collapse: collapse;
    color: var(--main-bg-color);
    padding: 10px;
  }

  th {
    border-bottom: 2px solid var(--whait);
    padding: 10px 0;
    font-size: 1.2rem;
  }

  td {
    border-bottom: 1px solid var(--whait);
    padding: 10px 10px;
  }

  th:first-child,
  td:first-child {
    border-right: 1px solid var(--whait);
  }

  .base {
    width: 60%;
  }

  @media (min-width: 750px) {
    .wrapper,
  .container {
    width: 400px;
  }
  }